@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Thin.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-ExtraLight.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-SemiBold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-ExtraBold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Noto_Sans_Lao/NotoSansLao-Black.woff") format("woff");
}
