[data-scope="avatar"][data-part="root"] {
  width: fit-content;
  grid-template-rows: none !important;
  position: relative;
  overflow: visible !important;
}

[data-scope="avatar"][data-part="fallback"][data-state="visible"] {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: attr(data-label);
    color: var(--container-color);
  }
}

[data-scope="avatar"][data-part="fallback"][data-state="hidden"] {
  display: none;
}

[data-scope="avatar"][data-part="image"][data-state="visible"] {
  display: inline;
  border-radius: 50%;
}

[data-scope="avatar"][data-part="image"][data-state="hidden"] {
  display: none;
}

.avatar {
  &-size-bar {
    width: 35px;
    height: 35px;

    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  &-size-list {
    width: 40px;
    height: 40px;

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }

  &-size-profile {
    width: 144px;
    height: 144px;
  }

  &-status {
    bottom: 0rem;
    right: 0rem;
    position: absolute;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    border: 2px solid var(--container-color);

    &-online {
      background-color: var(--green-color);
    }

    &-offline {
      background-color: var(--text-color-light);
    }
  }

  &-badges {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    font-size: var(--small-font-size);
    color: var(--container-color);
    background-color: red;
    border-radius: 50%;
    top: -0.2rem;
    inset-inline-end: -0.2rem;
  }

  &-action {
    bottom: 0.2rem;
    right: 0.2rem;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid var(--container-color);
    background-color: var(--first-color);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &-icon {
      color: var(--container-color);
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
