[data-scope="dialog"][data-part="backdrop"][data-state="open"] {
  @apply animate-fade-in;
}

[data-scope="dialog"][data-part="backdrop"][data-state="closed"] {
  @apply animate-fade-out;
}

[data-scope="dialog"][data-part="content"][data-state="open"] {
  @apply animate-scale-in;
}

[data-scope="dialog"][data-part="content"][data-state="closed"] {
  @apply animate-scale-out;
}

.modal {
  @apply z-50 h-screen w-screen fixed inset-0 flex justify-center items-center;

  &-container {
    @apply relative p-4 w-full max-h-full;
  }

  &-content {
    @apply relative bg-white rounded-lg shadow dark:bg-gray-700;
  }

  &-header {
    @apply flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600;

    &-title {
      @apply text-xl font-semibold text-gray-900 dark:text-white;
    }

    &-close-icon {
      @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white transition;
    }
  }

  &-close-icon {
    @apply absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white transition;
  }

  &-footer {
    @apply flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600;
  }

  &-backdrop {
    @apply bg-black/50 fixed inset-0 z-50;
  }

  &-sm {
    @apply max-w-md;
  }

  &-md {
    @apply max-w-lg;
  }

  &-lg {
    @apply max-w-4xl;
  }

  &-xl {
    @apply max-w-7xl;
  }
}
